@*@model MovieVehicles.Models.Review*@
@model IEnumerable<MovieVehicles.Models.Review>

@{
    ViewBag.Title = "Vehicle Reviews";

    //Cast
    var vehicle = (MovieVehicles.Models.Vehicle)ViewBag.Vehicle;
}

<h2>Vehicle Reviews for @vehicle.VehicleName</h2>

<table class="table">

    @foreach(var review in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => review.ReviewDate)
                @Html.DisplayFor(modelItem => review.ReviewTitle)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", new { id = review.ReviewID })
            </td>
        </tr>
    }

</table>




@if (User.IsInRole("Site Administrator") || User.IsInRole("Subscriber"))
{
    @Html.ActionLink("Add a Review", "UserCreate", "Reviews", new { vehicleID = vehicle.VehicleID }, null)
}



@*@Html.ActionLink("Add a Review", "UserCreate", "Reviews", new { vehicleID = vehicle.VehicleID }, null)*@
<br />
@Html.ActionLink("Return to Vehicle List", "Index", "Vehicles")

