@*@model MovieVehicles.Models.Event*@
@model MovieVehicles.ViewModels.EventVM

@{
    ViewBag.Title = "Delete";
}

<br /><br />
<h2>Delete Information for This Event?</h2>
<br />


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTitle)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.VehicleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />&nbsp;&nbsp; | &nbsp;&nbsp;
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
