@model MovieVehicles.Models.Vehicle

@{
    ViewBag.Title = "Details";

    //var pathFile = Path.Combine(System.Web.Hosting.HostingEnvironment.MapPath("~/Photos/"), "OriginalDelorean.png");
}

<div>
    <br /><br />
    <h4>Vehicle Details</h4>
    <hr />



    @*original photo in db path = ~/Photos/imagename.jpg*@
    <br /><br /><br />
    <div>
        <img src="~/Photos/@Url.Content(@Model.VehiclePhoto)" alt="@Html.DisplayFor(model => model.VehicleName)" style="width: 480px; height: 316px;">
    </div>
    <br /><br /><br />





    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VehicleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovieTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovieTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.VehiclePhoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehiclePhoto)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehicleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
