@model IEnumerable<MovieVehicles.Models.Event>

@using MovieVehicles.Models;

@{
    ViewBag.Title = "Home Page";

    int slideCntr = 1;
    List<Review> topReviews = ViewBag.TopFiveReviews;
}

<link rel="stylesheet" href="css/sliderbase.css" />
<link rel="stylesheet" href="css/slider.css" />


<br /><br /><br /><br />

<!-- Code for carousal from CIT190  -->
<div class="slider">
    <div class="slide-viewer">
        <div class="slide-group">

            @foreach (var photo in ViewBag.SlideShowPhotos)
            {
                <div class="slide slide-" @slideCntr>
                    <img src="../Photos/@photo.PhotoPath" alt="Submersible Lotus" style="display:block;margin:auto;width: 466px; height: 262px;">
                    <br /><br />
                    <p style="text-align:center">@photo.VehicleName</p>
                </div>
            }

        </div>
    </div>
    @*<div class="slide-buttons"></div>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Recently Posted Events</h2>
        <p>
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.EventTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EventDate)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(item.EventTitle, "Details", "Events", new { id = item.EventID }, "")
                            
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EventDate)
                        </td>
                    </tr>
                }
            </table>
        </p>

        <p>@Html.ActionLink("See More Events", "Index", "Events")</p>
    </div>
    <div class="col-md-6">
        <h2>Recently Posted Reviews</h2>
        <p>
            <table class="table">
                <tr>
                    <th>
                        Review Title
                    </th>
                    <th>
                        Review Date
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in topReviews)
                {
                    <tr>
                        <td>
                            @if (User.IsInRole("Site Administrator") || User.IsInRole("Subscriber"))
                            {
                                @Html.ActionLink(item.ReviewTitle, "Details", "Reviews", new { id = item.ReviewID }, "")
                            }
                            else
                            {
                                @item.ReviewTitle
                            }
                            @*@item.ReviewTitle*@ 
                        </td>
                        <td>
                            @item.ReviewDate.ToString("M/d/yyyy")
                        </td>
                    </tr>
                }

                </table>
                </p>

                @if (User.IsInRole("Site Administrator") || User.IsInRole("Subscriber"))
                {
                    <p>@Html.ActionLink("See More Reviews", "Index", "Reviews")</p>
                }
            </div>
</div>

<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/slider.js"></script>